.title{
  align-self: flex-start;
  background: var(--purple);
  color: var(--white);
  font: var(--headline5);
  padding-block: .25rem ;
  padding-inline: .5rem;
  box-shadow: -4px 4px 0 var(--white);
  text-decoration: none;
}